<h1>Mostrando artigo selecionado</h1>
<p>
 Título: <%= @article.title %>
</p>
<p>
 Descrição: <%= @article.description %>
</p>

<%= link_to 'Voltar', articles_path %>

<%= link_to "Alterar", edit_article_path(@article) %>
