<body style="background-color: black;">
<div align="center">
<%= image_tag '33logo.png', size: "500", alt: "Logo Sala 33"%>
<h1 style="color:white;">aguardem ... tรก quase!</h1>
<p><a href="https://www.lewagon.com">visitem o Wagon!</a></p>
</div>
</body>
